<h1>Hey there!</h1>

<p>
  Welcome to my profile!<br />
  I'm Toni, Full-Stack developer from <img src="https://cdn.jsdelivr.net/joypixels/assets/6.5/png/unicode/32/1f1eb-1f1ee.png" width="13"/> <b>Helsinki, Finland</b>. 
  I'm currently studying Business Information Technology at Haaga-Helia University of Applied Sciences.
  Here you can find some of my projects that I've done on my free time. If you are interested in seeing more of my work, just hit me up!
</p>

<p>
  I'm also open for job offers! If you are interested in working with me, don't hesitate to contact me!
</p>

<h3>Contact me elsewhere:</h3>
<ul>
  <li>Website - <a target="_blank" href="https://ruhis.fi/">ruhis.fi</a></li>
  <li>LinkedIn - <a target="_blank" href="https://www.linkedin.com/in/toniruhanen/">Toni Ruhanen</a></li>
  <li>Discord - @Torksi#8081</li>
</ul>

<h3>GitHub Stats:</h3>
<p>
  <img alt="GitHub Stats" style="margin-right: 1rem" src="https://github-readme-stats.vercel.app/api?username=Torksi&count_private=true&show_icons=true&theme=onedark">
  <img alt="GitHub Stats" src="https://github-readme-stats.vercel.app/api/top-langs/?username=Torksi&layout=compact&theme=onedark">
</p>
